## Build Folders
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Working Directory
.vs/

## ASP.NET Secrets
secrets.json
appsettings.Development.json
appsettings.Local.json

## Build results
*.exe
*.dll
*.pdb
*.cache
*.log

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Temporary files
*.tmp
*.temp

## Logs
*.log

## Compiled source #
*.com
*.class
*.jar
*.pyc
*.pyo
*.pyd

## OS Generated
.DS_Store
Thumbs.db

## Rider & VS Code
.idea/
.vscode/

## npm
node_modules/

## Git
*.orig

## Others
*.db
*.bak

